header{
    margin:5px;
    text-align:center;

}

h1{
    color: yellow;
    


}
h3{
    color: yellow;
    margin: 30px;
    text-align:center;
}

.enemySelect h3{
    display: none;
    color:red;

}

body{
background-image: url(../images/background.jpeg);
background-size:cover;
padding:0;
margin:0;

}


.btn{
    display:none;
   
   
}



.card{

text-align: center;
margin:5px;
}

:hover.card.sa, :hover.card.rr, :hover.card.ut, :hover.card.bs
{
opacity: 0.7;

}

.card.daOne,
.card.daTwo {
display:none;

}





